* {
	margin: 0;
}
	html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -2em;
}
.header {
	margin-left: 1cm;
	margin-right: 1cm;
}
#welcome_body {
	width: 100%;
}
#welcome_table {
	width: 100%;
}
.welcome_table_data {
	text-align: center;
	width: 50%;
}
#creategame_body {
	display: none;
	width: 100%;
	margin-left: 1cm;
	margin-right: 1cm;
}
.create_game_buttons {
	display: inline;
}
.footer, .push {
	height: 2em;
}
.footer_text {
	font-size: 8pt;
	text-align: center;
}