* {
	margin: 0;
}
html, body {
	height: 100%;
}
p, h1, h2, h3, table {
	font-family:"Courier New", Courier, monospace;
}
p, table {
	font-size: 14pt;
}
.body {
	background-color: #F2F2F2;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -2em;
}
.header {
	margin-left: 1cm;
	margin-right: 1cm;
}
#welcome_body {
	width: 100%;
}
#welcome_choice_div {
	width: 100%;
	text-align: center;
}
#welcome_choice_table {
	width: 100%;
	text-align: center;
}
.welcome_choice_buttons {
	background-color: #9A2EFE;
	border:2px solid;
	border-radius:25px;
	border-color: #F2F2F2;
}
.welcome_choice_buttons:hover {
	border:2px solid;
	border-color: black;
	box-shadow: 2px 2px 1px #888888;
}
.welcome_choice_table_sides {
	width: 20%;
}
.welcome_choice_table_center {
	width: 30%;
}
#welcome_info_table {
	width: 100%;
}
#welcome_info_table_center {
	width: 80%;
}
.welcome_info_table_sides {
	width: 10%;
}
.welcome_info_text {
	margin-left: 1cm;
}
#creategame_body {
	display: none;
	width: 100%;
	margin-left: 1cm;
	margin-right: 1cm;
}
#download_body {
	width: 100%;
	text-align: center;
}
.create_game_buttons {
	display: inline;
}
#hidden_json {
	display: none;
}
#body_background {
	background-color: grey;
}
#setup_div {
	text-align: center;
}
#board_div {
	display: none;
}
#question_div {
	display: none;
	text-align: center;
}
#answer_div {
	display: none;
	text-align: center;
}
#end_game_div {
	display: none;
	text-align: center;
}
#board_div_header {
	margin-left: 1cm;
	margin-right: 1cm;
}
#board_div_header_table {
	width: 100%;
}
#board_div_header_left {
	text-align: left;
}
#board_div_header_right {
	text-align: right;
}
#board_game_div {
	text-align: center;
}
#board_game_table {
	width: 100%;
}
.board_game_table_box {
	width: calc(100% / 6);
}
.board_game_header_box {
	text-align: center;
	background-color: blue;
	border-style: solid;
	border-width: 5px;
	border-color: black;
}
.board_game_box {
	text-align: center;
	background-color: blue;
	border-style: solid;
	border-width: 5px;
	border-color: black;
}
.board_game_box:hover {
	border-style: outset;
	border-color: white;
}
.board_game_box_selected {
	text-align: center;
	background-color: black;
	border-style: solid;
	border-width: 5px;
	border-color: black;
}
.board_game_box_text {
	margin-left: 15px;
	margin-right: 15px;
	color: yellow;
}
#games_body {
	margin-left: 1cm;
	margin-right: 1cm;
}
#games_table {
	border-collapse:collapse;
	border: 2px solid black;
	width: 100%;
}
#games_table th {
	background: #9A2EFE;
	padding: 5px;
	border: 2px solid black;
	width: calc(100% / 3);
}
#games_table td {
	background: #E0E0F8;
	padding: 5px;
	border: 2px solid black;
	font-size:10pt;
	width: calc(100% / 3);
}
.footer, .push {
	height: 2em;
}
.footer_text {
	font-size: 8pt;
	text-align: center;
}